# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
built/
dist/
*.egg-info/

# VS Code settings
.vscode/

# IDE settings
.idea/

# Pytest
.cache

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/